/*
  animation
*/
@keyframes zoomin_bottom_left {
    0% { font-size: 2em; color: transparent; bottom: 0.5em; }
  100% { }
}
@keyframes araware {
    0% { color: transparent; background-color: transparent; }
  100% { }
}

/*
  price graph iframe
*/
#kiseppe {
    width: 100%;
    height: 0px;
    border: 0;
    overflow: hidden;
}

/*
  badges and buttons
*/
.kiseppe-jsdr-badge {
    position: absolute;
    padding: 2px 4px;
    line-height: 1.2em;
    text-align: center;
    font-size: x-small;
    background-color: rgba(255,0,0,0.9); /* brown */
    color: white;
    /* animation: araware 1.5s; */
}
.kiseppe-series-sale-badge {
    color: red; /* only for Windows Chrome */
    animation-name: araware;
    animation-duration: 0.7s;
    animation-iteration-count: 3;
}
.kiseppe-pg-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100000;
    cursor: pointer;
    font-size: 1em;
    color: rgba(0,0,0,0.9);
    /* animation: zoomin_bottom_left 1.5s; */
}

/*
  price graph popup
*/
dialog#popup_modal {
    border: none;
    border-radius: 8px;
}
dialog#popup_modal::backdrop {
    background: rgba(0,0,0,.5);
}
#popup_modal #pg_container {
    width: 850px;
    max-width: 100%;
    min-width: 90%;
    text-align: center;
}
#popup_modal #pg_container .pg_item_info {
    max-height: 100%;
}
#popup_modal #pg_container .pg_item_title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#popup_modal #pg_container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: visible;
}

